div{
    position: absolute;
    font-size: 20px;
    top: 40%;
    right: 35%;
    min-width: 350px;
    text-align: center;
    vertical-align: middle;
    padding:50px;
    line-height: 50px;
    border-radius: 5px;
    border:5px solid whitesmoke;
}

vido {
    position: fixed;
}

#body input {
    width: 300px;
    min-width: 100px;
    font-size: 20px;
}
#body input:focus {
    color:white;
    background-color: rgba(0,0,255,0.35);
    opacity: 0.3;
}

#body input[type="reset"],
#body input[type="Submit"]
{
    margin-top: 10px;
    height: auto;
    width: 70px;
    color: white;
    font-size: 20px;
    background-color: rgb(198, 126, 198);
}